source https://api.nuget.org/v3/index.json
framework: net5.0
storage: none

nuget Fable.Remoting.AspNetCore prerelease
nuget Falco
nuget Expecto

nuget Fable.Core
nuget Fable.Mocha
nuget Fable.Remoting.Client

nuget Sutil ~> 1.0.0-alpha-005

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.IO.FileSystem
nuget Farmer